.divRender {
    max-width: 30%;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #00bcd4;
    border-radius: 8px;
    background: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
  
  .divRender h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .credenziali {
    margin-bottom: 15px;
  }
  
  .credenziali label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .credenziali input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  .divBtnLogIn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btnLogIn {
    display: inline-flex; /* Allinea il contenuto interno in riga */
    align-items: center; /* Centra verticalmente il testo e l'animazione */
    justify-content: center;
    gap: 1rem; /* Spazio tra il testo e l'animazione */
    width: 50%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.8em 1.2em;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .btnLogIn:hover {
    background-color: #0056b3;
  }
  
  #lottie_login_lock {
    width: 24%; /* Dimensiona l'animazione */
    height: 24%;
    margin-left: 10px; /* Aggiunge un piccolo spazio tra bottone e animazione */
    display: none; /* Nasconde l'animazione di default */
  }
  
  /* Quando l'animazione deve essere visibile */
  .btnLogIn.loading #lottie_login_lock {
    display: block; /* Mostra l'animazione quando la classe loading è attiva */
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
  }
  
  @media (max-width: 480px) {
    .divRender {
        padding: 15px;
        margin: 20px;
    }
  
    .btnLogIn {
        font-size: 14px;
        padding: 8px;
    }
  
    .credenziali input {
        font-size: 13px;
        padding: 8px;
    }
  
    .divRender h2 {
        font-size: 18px;
    }
  }
  
  .lottieCheckLogin{
  
    width: 25%;
  
    margin-right: -50%;
  }