body{

    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}

.paginaIntera{

    display: flex;

    flex-direction: column;
}

.introBlog{
    display: flex;
    flex-direction: column;
    width: 98vw;
    min-height: 10vh;
}

.primaParte{

    display: flex;
    flex-direction: row;
}

#logo{

    height: 7%;
    width: 8%;
}

.titolo{

    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome{

    
    display: flex;

    flex-direction: row;

    justify-content: center;

    align-items: center;

    gap: 17vw;
}

#loginBtn{

    width: 10vw;
    height: 4vh;

    border-radius: 10%;

    background-color: white;
    margin-right: 2%;
    
}

.centroPagina{

    display: flex;

    flex-direction: column;
}

.postDB{

    display: flex;
    flex-direction: column;
}

.headerPostDB{

    display: flex;
    flex-direction: row;
}

.corpoPostDB{

    display: flex;
    flex-direction: row;
}

.ricerca{

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#ricerca, #parolaDaCercare, #cercaBtn{

    height: min-content;
    
}

.filtraAnno{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.annoCorrente{

    display: flex;

    justify-content: center;
    align-items: center;

    
}

.allDivFiltraAnno{

    height: 7vh;
}

footer{

    display: none;
    position: absolute;
    bottom: 0;
}